

/* unvisited link */
.quotes a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.headerreadings1{
  font-family: helvetica;
  margin-left: 6%;
  margin-right: 25%;
  margin-top: 50px;
  font-size: 55px;
  line-height: 180%;
}

.headerreadings2{
  font-family: helvetica;
  margin-left: 6%;
  margin-right: 45%;
  margin-top: 50px;
  font-size: 55px;
  line-height: 180%;
}

.author1{
  margin-left: 1%;
  transform: rotate(-90deg);
  position: fixed;
  font-size: 15px;
  font-family: arial;
  margin-top: 4%;
}

.author4{
  margin-left: 1%;
  transform: rotate(-90deg);
  position: fixed;
  font-size: 15px;
  font-family: arial;
  margin-top: 4%;
}

.author3{
  margin-left: 1%;
  transform: rotate(-90deg);
  position: fixed;
  font-size: 15px;
  font-family: arial;
  margin-top: 4%;
}

.maintext{
  margin-left: 10%;
  margin-right: 50%;
  font-size: 16px;
  font-family: arial;
  margin-top: -20px;
  line-height: 20px;
}

.mainnav a{
  font-family: helvetica;
  font-weight: bolder;
  margin-top: -4%;
  font-size: 12px;
  position: fixed;
  text-decoration: none;
}

.lesson1main{
  margin-left: 16%;
}


.lesson2main{
  margin-left: 32%;
}

.lesson3main{
  margin-left: 48%;
}

.visualarchivemain{
  margin-left: 64%;
}

.menumain{
  margin-left: 80%;
}



p{
  padding-bottom: 7px;
}

img{
  width: 100%;
  align-items: center;
}

.grayscale{
  filter: grayscale(100%);
}

.grayscale:hover{
  filter: grayscale(0);
}

.quotes {
  position: fixed;
  top:0px;
  right:20px;
  height:calc(110vh - 5px);
  width: 40%;
  background-color: white;
  font-size: 30px;
  line-height: 32px;
  overflow: scroll;
  font-family: helvetica;
  text-decoration: none;
  margin-top: 6%;
  padding-bottom: 20px;
  padding-top: 250px;
  padding-right: 20px;
}

/* Visual Essay*/

.row {
  display: flex;
  flex-wrap: wrap;
}



.col__1of2{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.content{
  padding-right: 5px;
}

.visualessay{
  margin-left:10%;
  margin-right: 8%;
  position: absolute;
}

* {
  box-sizing:border-box;
}

.row {
  display:flex;
  flex-wrap:wrap;
}

.align__top {
  align-items:flex-start;
}

.col__1of3 {
  flex:0 0 33.333%;
}

.col__2of3 {
  flex:0 0 66.666%;
}

.content {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  margin:5px;
}

.content img {
  width:100%;
}



.top {
  position: fixed;
  right:0;
  bottom:0;
  width: 100px;
  padding: 20px;
  background-color: none;
  cursor: pointer;
}

.top a {
  background: none;
  text-decoration: none;
}


.robert{
  margin-left: 1%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  margin-top: 4%;
}

.jan{
  margin-left: -1.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  margin-top: 116%;
}

.herbert{
  margin-left: -1.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  margin-top: 157%;
}

.beatrice{
  margin-left: -2%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  margin-top: 202%;
}

.bruno{
  margin-left: -4.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  margin-top: 274%;
}




/* Menu*/

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    width:100%;
}

.lessonbutton2{
  font-family: helvetica;
  font-weight: bolder;
  line-height: 10%;
  color: white;
  margin-top: 2%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 47%;
  position: fixed;
}

.lessonbutton2 a{
text-decoration: none;
}

.lessonbutton1{
  font-family: helvetica;
  font-weight: bolder;
  line-height: 10%;
  color: white;
  margin-top: 2%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 22%;
  position: fixed;
  text-decoration: none;
}

.lessonbutton1 a{
text-decoration: none;
}

.lessonbutton3{
  font-family: helvetica;
  font-weight: bolder;
  color: white;
  line-height: 10%;
  margin-top: 2%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 72%;
  position: fixed;
}


.lessonbutton3 a{
text-decoration: none;
}


.visualarchivebutton{
  font-family: helvetica;
  font-weight: bolder;
  color: white;
  position: fixed;
  line-height: 10%;
  margin-top: 47%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 46.5%;
}


.visualarchivebutton a{
text-decoration: none;
}


.rollover{
  color: white;
  text-decoration: none;
}

.rollover:hover{
  opacity: 0;
}

/* js show me*/

.blur {
  position: fixed;
  opacity:0;
  pointer-events: none;
}

.blur.showme {
  opacity:1;
  filter: blur(0);
}


.beatriceblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.brunoblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.allanblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.visualblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}
