
.headerreadings1{
  font-family: helvetica;
  margin-left: 2%;
  margin-right: 50%;
  margin-top: 90px;
  font-size: 53px;
  padding-bottom: 5px;
  line-height: 110px;
  text-align: left;
}

.headerreadings2{
  font-family: helvetica;
  margin-left: 2%;
  margin-right: 50%;
  margin-top: 90px;
  font-size: 53px;
  line-height: 110px;
  padding-bottom: 5px;
  text-align: left;
}

.author {
  margin-left: -2%;
  transform: rotate(-90deg);
  position: fixed;
  font-size: 12px;
  font-family: helvetica;
  margin-top: 3%;
}

.maintext{
  margin-left: 5%;
  margin-top: -30px;
  margin-right: 50%;
  font-size: 16px;
  font-family: helvetica;
  line-height: 20px;
  padding-right: 30px;
  border-right: solid 1px;
}

p{
  padding-bottom: 7px;
}

.widow {
  font-size: 12px;
  font-weight: bold;
}

.mainnav a{
  font-family: helvetica;
  font-weight: bolder;
  margin-top: -70px;
  font-size: 12px;
  position: fixed;
  text-decoration: none;
  z-index: 100;
  color: red;
}

/* visited link */
.mainnav a:visited {
    color: red;
}

/* mouse over link */
.mainnav a:hover {
    color: white;
}

/* selected link */
.mainnav a:active {
    color: red;
}


.lesson1main{
  margin-left: 6%;
}

.lesson2main{
  margin-left: 26%;
}

.lesson3main{
  margin-left: 47%;
}

.visualarchivemain{
  margin-left: 68%;
}

.menumain{
  margin-left: 90%;
}


img{
  width: 100%;
  align-items: center;
}

.grayscale{
  filter: grayscale(100%);
}

.grayscale:hover{
  filter: grayscale(0);
}


/* visited link */
.quotes a:visited {
    color: black;
    text-decoration: none;
}


/* mouse over link */
.quotes a:hover {
    color: red;
    text-decoration: none;
}


/* scroll bar  */

.quotes a:active {
    color: red;
    text-decoration: none;
}

.quotes {
  position: fixed;
  right:5px;
  top:40px;
  height:calc(97vh - 20px);
  width: 45%;
  background-color: white;
  font-size: 30px;
  line-height: 32px;
  overflow: scroll;
  font-family: helvetica;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 330px;
}

::-webkit-scrollbar {
  display: none;
}

.quotes img{
  padding-bottom: 20px;
  width: 100%;
}


/* In Text Quotes*/

.intextquotes {
  font-size: 28px;
  line-height: 32px;
  font-family: helvetica;
  font-weight: bolder;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.intextquotes a {
  color: black;
  text-decoration: none;
}

.intextquotes a:hover {
  opacity:0;
  text-decoration: none;
}



/* Visual Essay*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.col__1of2{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.content{
  padding-right: 5px;
}

.visualessay{
  margin-left:8%;
  margin-right: 8%;
  position: absolute;
}

* {
  box-sizing:border-box;
}

.row {
  display:flex;
  flex-wrap:wrap;
}

.align__top {
  align-items:flex-start;
}

.col__1of3 {
  flex:0 0 33.333%;
}

.col__2of3 {
  flex:0 0 66.666%;
}

.content {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  margin:5px;
}

.content img {
  width:100%;
}

.top {
  position: fixed;
  right:0;
  bottom:0;
  width: 100px;
  padding: 20px;
  background-color: none;
  cursor: pointer;
}

.top a {
  background: none;
  text-decoration: none;
}


.robert{
  margin-left: 1%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: arial;
  margin-top: 4%;
}

.jan{
  margin-left: -1.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: arial;
  margin-top: 116%;
}


.herbert{
  margin-left: -1.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: arial;
  margin-top: 157%;
}

.beatrice{
  margin-left: -2%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: arial;
  margin-top: 202%;
}

.bruno{
  margin-left: -4.5%;
  transform: rotate(-90deg);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  font-family: arial;
  margin-top: 274%;
}


/* Menu*/

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.stretch {
    width:100%;
}

.lessonbutton1{
  font-family: helvetica;
  font-weight: bolder;
  line-height: 10%;
  color: white;
  margin-top: .7%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 6%;
  position: fixed;
  text-decoration: none;
}

.lessonbutton1 a{
text-decoration: none;
}

.lessonbutton2{
  font-family: helvetica;
  font-weight: bolder;
  line-height: 10%;
  color: white;
  margin-top: .7%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 27%;
  position: fixed;
}

.lessonbutton2 a{
text-decoration: none;
}

.lessonbutton3{
  font-family: helvetica;
  font-weight: bolder;
  color: white;
  line-height: 10%;
  margin-top: .7%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 47%;
  position: fixed;
}


.lessonbutton3 a{
text-decoration: none;
}


.visualarchivebutton{
  font-family: helvetica;
  font-weight: bolder;
  color: white;
  position: fixed;
  line-height: 10%;
  margin-top: .7%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 68%;
}

.visualarchivebutton a{
text-decoration: none;
}

.menubutton {
  font-family: helvetica;
  font-weight: bolder;
  color: white;
  position: fixed;
  line-height: 10%;
  margin-top: .7%;
  font-size: 12px;
  line-height: 180%;
  margin-left: 90%;
}

.menubutton a{
text-decoration: none;
color: white;
}


.menubutton a:hover{
text-decoration: none;
opacity: 0;
}

.rollover{
  color: white;
  text-decoration: none;
}

.rollover:hover{
  opacity: 0;
}

/* js show me*/

.blur {
  position: fixed;
  opacity:0;
  pointer-events: none;
}

.blur.showme {
  opacity:1;
  filter: blur(0);
}


.beatriceblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.brunoblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.allanblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.visualblurb__image{
  width:40%;
  margin-top: 12%;
  margin-left: 30%;
  margin-right: 30%;
}
